* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.wrap {
  width: 1220px;
  margin: auto;
}

.container {
  width: 100%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* no products */

.cart-lefts {
  margin: auto;
}
.cart-lefts img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  margin: auto;
}
.cart-lefts p {
  color: #888;
  font-size: 16px;
}
.cart-lefts .btn {
  text-align: center;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

.cart-lefts .btn:hover {
  background-color: rgb(32, 32, 255);
  color: white;
}

/* products */

.breadcrumbs {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}
.cart-container {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
}
.cart-left {
  width: 68%;
  height: 500px;
  position: relative;
}
.wrap_cart_item {
  height: 350px;
  overflow: overlay;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid silver;
  margin-right: 10px;
}
.cart-item img {
  width: 90px;
  height: auto;
  margin-right: 20px;
}
.cart-info {
  flex: 1;
}
.cart-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.cart-info span {
  display: block;
  color: #888;
  font-size: 13px;
  margin-bottom: 5px;
}
.cart-info .delete {
  font-size: 13px;
  color: #007bff;
  /* text-decoration: none; */
  padding: 5px;
  border: 1px solid transparent;
  font-weight: 600;
  background-color: white;
}
.cart-info a:hover {
  border: 1px solid silver;
  border-radius: 5px;
}
.cart-price {
  color: #e60000;
  font-weight: bold;
  margin-left: 20px;
}
.quantity-control {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.quantity-control .btn {
  padding: 4px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}
.quantity-control span {
  margin: 0px 10px;
}
.cart-summary {
  position: absolute;
  bottom: -4px;
  background-color: white;
  box-shadow: 0px 0px 15px #bbbbbb;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  z-index: 99999;
}
.cart-summary p {
  font-size: 16px;
  margin-bottom: 10px;
}
.cart-summary strong {
  color: #e60000;
  font-size: 20px;
}
.btn-checkout {
  background-color: #2bb1db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.cart-right {
  width: 30%;
}
.box {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.box h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.box p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #444;
}
.box a {
  text-decoration: none;
}
.box ul {
  padding: 0;
}
.cart-right .box ul li {
  font-size: 14px;
  margin-bottom: 8px;
  color: #444;
  list-style: none;
}
.box img {
  height: 25px;
  margin-right: 5px;
}
