* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.wrap {
  width: 1220px;
  margin: auto;
}

/* content */
.content {
  margin: 20px;
}

.content .banner img {
  width: 100%;
  display: block;
}
.content .content_products {
  height: 520px;
  padding: 15px;
  overflow-y: overlay;
}
.content .content_products .products {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.content .content_products .products .product {
  width: 24%;
  margin-bottom: 20px;
  background: white;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 285px;
  margin-left: 11px;
}
.content .content_products .products .product .wrap_img {
  height: 120px;
}
.content .content_products .products .product .wrap_img img {
  width: 145px;
  height: 100px;
  padding-top: 15px;
}

.content .content_products .products .product p {
  height: 48px;
}

.content .content_products .products .product .wrap_buy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content .content_products .products .product .wrap_buy .buy {
  width: 40%;
  border: none;
  border-radius: 15px;
  background-color: rgb(0, 158, 0);
  height: 30px;
  margin-top: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.content .content_products .products .product .wrap_buy .buy a {
  color: white;
  text-decoration: none;
}
.content .content_products .products .product .buy:hover {
  background-color: green;
}
.content .content_products .discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px;
  font-size: 12px;
}
.content .content_products .price {
  display: block;
  font-size: 16px;
  color: red;
  font-weight: bold;
}
.content .content_products .price.old {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}